
<IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteCond %{SERVER_PORT} !^443$
        RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#        RewriteCond %{REMOTE_ADDR} !^213.61.70.222$ [NC] AND
#        RewriteCond %{REMOTE_ADDR} !^86.110.230.145$ [NC] AND
#        RewriteCond %{REMOTE_ADDR} !^217.70.137.146$ [NC]
#        RewriteRule ^(.*)$ /index.php [R=301,L]
</IfModule>
